body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff; }

.header {
  background-image: url("../img/m-h-day.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  color: #2c2f3c;
  border-radius: 0px 0px 40em/20em 0px; }

.landing-logo {
  display: flex; }
  .landing-logo img {
    margin: 20px 15px; }
  .landing-logo p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    align-items: center; }
    .landing-logo p span {
      font-weight: 500;
      font-size: 12px; }

.header-wrap {
  margin: 0 15px 20px 80px; }

.header_heading {
  font-family: "Hind", sans-serif;
  font-size: 72px;
  color: #2c2f3c;
  font-weight: 800;
  max-width: 600px;
  position: relative;
  z-index: 1;
  margin: 48px 0; }
  .header_heading::after {
    content: "";
    display: block;
    background-color: #14A0C7;
    position: absolute;
    z-index: -1;
    width: 300px;
    height: 50px;
    bottom: 30px; }

.header_text {
  font-family: "Hind", sans-serif;
  white-space: pre-line;
  margin-bottom: 40px; }

.header_button, .section_banner_button {
  background-color: #699900;
  padding: 15px 40px;
  border: none;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  font-family: "Hind", sans-serif; }
  .header_button:hover, .section_banner_button:hover {
    cursor: pointer;
    background-color: #466600;
    transition: 0.8s linear;
    animation: waves 3s infinite; }
@keyframes waves {
  0% {
    opacity: 0.5; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 30px #0c0c0c1f;
    opacity: 0.5; }
  100% {
    opacity: 1; } }
.login {
  color: #ffffff;
  margin-left: 10em;
  font-family: "Hind", sans-serif; }

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff; }

.section_text {
  color: #2c2f3c;
  font-size: 36px;
  font-weight: 600;
  font-family: "Hind", sans-serif;
  position: relative;
  z-index: 1; }
  .section_text:after {
    content: "";
    display: block;
    background-color: #14A0C7;
    position: absolute;
    z-index: -1;
    width: 165px;
    height: 50px;
    bottom: 15px;
    right: 10px; }

.section_card_wrap {
  padding: 20px;
  display: flex;
  width: 70%;
  justify-content: center;
  flex-direction: column; }

.section_card {
  width: 100%;
  margin-bottom: 2%;
  border-radius: 5px;
  padding: 20px;
  background-color: #21232e;
  display: flex; }

.section_card_img {
  border-radius: 5px;
  width: 35%; }

.section_card_heading {
  font-family: "Hind", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  position: relative;
  text-align: center;
  z-index: 1; }
  .section_card_heading span {
    content: "";
    display: block;
    background-color: #14A0C7;
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: 16px;
    width: 100%; }

.section_card_right_container {
  width: 55%;
  padding: 0 5% 0 5%;
  display: flex;
  flex-direction: column; }

.section_card_text {
  font-family: "Hind", sans-serif;
  color: #c0c3ce;
  font-size: 14px;
  line-height: 1.7;
  width: 80%;
  position: relative;
  left: 15%; }

.section_link {
  font-family: "Hind", sans-serif;
  color: #c0c3ce;
  font-size: 14px;
  text-align: center;
  line-height: 1.7; }

.section_banner {
  width: 85%;
  background: linear-gradient(to right, #679708, #2E5CD7);
  border-radius: 7px;
  position: relative;
  bottom: -70px;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  height: 140px;
  align-items: center; }

.section_banner_heading {
  font-family: "Hind", sans-serif;
  color: #2c2f3c;
  font-size: 24px;
  font-weight: 600;
  z-index: 1;
  position: relative; }
  .section_banner_heading:after {
    content: "";
    display: block;
    background-color: #14A0C7;
    position: absolute;
    z-index: -1;
    width: 50px;
    left: 100px;
    height: 35px;
    bottom: 10px; }

.section_banner_text {
  color: #c0c3ce;
  font-family: "Hind", sans-serif; }

.footer {
  width: 100%;
  display: flex;
  background-color: #21232e;
  justify-content: center;
  height: 220px;
  z-index: 1;
  position: relative; }

.footer-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  align-items: center;
  padding-top: 100px; }

.footer_logo p {
  color: #c0c3ce;
  font-family: "Source Sans Pro", sans-serif; }
  .footer_logo p span {
    font-weight: 600; }

.footer_text {
  max-width: 250px;
  height: max-content;
  font-family: "Hind", sans-serif;
  color: #c0c3ce;
  font-size: 12px;
  line-height: 1.5; }

.footer-cr {
  font-family: "Hind", sans-serif;
  color: #c0c3ce;
  font-size: 14px; }
