$headBackImg: url('../img/m-h-night.jpg');
$textColor1: #fff;
$backgoundTextColor: #ff4e33;
$buttons: #e3ac00;
$backgroundColor: #3b3f50;
$lastBlockcolor:linear-gradient(to right, #e1a901, #98354d);
$textColor2: #d1d1d1;
$textColor3: #fff;
$sectionColor: #21232e;
$bodyColor: #21232e;

$map-fontFam: (
    font1: ('Fresca', sans-serif),
    font2: ('Hind', sans-serif),
    font3: ('Source Sans Pro', sans-serif)
);