$headBackImg: url('../img/m-h-day.jpg');
$textColor1: #2c2f3c;
$backgoundTextColor: #14A0C7;
$buttons: #699900;
$backgroundColor: #21232e;
$lastBlockcolor:linear-gradient(to right, #679708, #2E5CD7);
$textColor2: #c0c3ce;
$textColor3: #fff;
$sectionColor: #fff;
$bodyColor: #fff;

$map-fontFam: (
        font1: ('Source Sans Pro', sans-serif),
        font2: ('Hind', sans-serif),
        font3: ('Fresca', sans-serif)
);